extends layout

block content
  .container
    .row
      .col-md-12

        h1= title
        p Welcome to #{title}
        h3
          a(href="/howitworks") See how it works
        //- p
          a(href="/template") template_airbnb
        p
          a(href="/template/dropzone") test dropzone(developper use only)
        p
          a(href="/template/dropzone_online") test dropzone(online demo use only)
        p
          a(href="https://www.airbnb.com/rooms/2525228" target="_blank") target page
        p: a(href="/listing/#{local_sample}") local test listing/#{local_sample}
        p: a(href="/listing/#{online_sample}") online test listing/#{online_sample}

