extends layout

block content
  h1= title
  p Welcome to #{title}
  //- p
    a(href="/template") template_airbnb
  p
    a(href="/template/dropzone") test dropzone
  //- p
    a(href="https://www.airbnb.com/rooms/2525228" target="_blank") target page
  p: a(href="/listing/#{local_sample}") local test listing/#{local_sample}
  p: a(href="/listing/#{online_sample}") online test listing/#{online_sample}

  //- p: a(href="/listing/create_new") listing/create_new
