extends listing_layout.jade





block fb_share_metas
  -var server_path = 'https://esimgserver.s3.amazonaws.com/'
  -var folder_path = server_path + result._id+'/'
  -var processPhotoData = function( onelist) {
  -   var tbr = []
  -   onelist.forEach( function (element, index, ar){
  -     tbr.push({"image":folder_path+element, "thumb":folder_path+element});
  -   });
  -   return JSON.stringify(tbr)}
  -var cover_img_path = function(){
  - if (result.listing_related.images.length == 0) {result.listing_related.cover_image = "default.png"}
  - var tbr = (result.listing_related.cover_image == "default.png")?(server_path+"default.png"):(folder_path+result.listing_related.cover_image)
  - return tbr;
  -}  
  meta(property='og:url', content="#{current_page_url +'listing/' + result._id}")
  meta(property='og:type', content='website')
  meta(property='og:title', content='#{title}')
  meta(property='og:description', content='#{result.listing_related.about_this_listing}')
  meta(property='og:image', content='#{cover_img_path()}')

block photo
  -var server_path = 'https://esimgserver.s3.amazonaws.com/'
  -var folder_path = server_path + result._id+'/'
  -var processPhotoData = function( onelist) {
  -   var tbr = []
  -   onelist.forEach( function (element, index, ar){
  -     tbr.push({"image":folder_path+element, "thumb":folder_path+element});
  -   });
  -   return JSON.stringify(tbr)}
  -var cover_img_path = function(){
  - var tbr = (result.listing_related.cover_image == "default.png")?(server_path+"default.png"):(folder_path+result.listing_related.cover_image)
  - return tbr;
  -}  
  meta#photo-data-modal(name="photo-data-modal" content="#{processPhotoData(result.listing_related.images)}")
  if (editing)
    div#dropzone-container
      #actions.row
        .col-lg-7
          // The fileinput-button span is used to style the file input field as button
          span.btn.btn-success.fileinput-button
            i.glyphicon.glyphicon-plus.margin-left-right-1x
            span Add files...
          button.btn.btn-primary.start(type='submit')
            i.glyphicon.glyphicon-upload.margin-left-right-1x
            span Upload
          button.btn.btn-warning.cancel(type='reset')
            i.glyphicon.glyphicon-ban-circle.margin-left-right-1x
            span Cancel
        .col-lg-5
          // The global file processing state
          span.fileupload-process
            #total-progress.progress.progress-striped.active(role='progressbar', aria-valuemin='0', aria-valuemax='100', aria-valuenow='0')
              .progress-bar.progress-bar-success(style='width:0%;', data-dz-uploadprogress='')
      //- following div will be used to hold previews
      
      #previews.previews-container
  
  else
    //- follwing div.hidden is used to preload pic
    div.hidden
      -var cnt = 0
      each val in JSON.parse(processPhotoData(result.listing_related.images))
        img(src=val.thumb)
        div #{cnt}
        - cnt = cnt + 1
    .cover-img(id="cover-img" data-toggle="modal" data-target="#photo-modal"   style="background-image:url(#{cover_img_path()})" ) 
    #photo-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      //- .modal-dialog.modal-lg
      .modal-dialog.modal-fullscreen-custom
        .modal-content.transparent-bg
          .row
            .col-xs-1.col-xs-offset-1.text-right
              .modal-exit-button.text-right( data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') x
          .row
            .galleria

block summary
  -var adaptiveEditable =function(){
  -  return (editing)?"editable":""
  -}
  //- following method, class_name can be "selectable", "editable"
  -var adaptiveEditingClass =function(class_name){
  -  return (editing)?class_name:""
  -}
  -var stringifyUsefulInfo = function(){
  -  var temp = {};
  -  temp.db_id = result._id;
  -  temp.is_editing = editing;
  -  temp.cover_image = result.listing_related.cover_image;
  -  return JSON.stringify(temp);
  -}
  -function returnPrice(){return (result.unit_traits.price)?result.unit_traits.price:100 };

  mixin listingOrEditButton(editing)
    if editing
      a.btn.btn-default(href=current_page_url +'listing/' + result._id) Enter Listing Mode
    else
      a.btn.btn-default.hidden-xs.hidden-sm.hidden-md(href=current_page_url +'edit/' + result._id) Enter Edit Mode
  
  mixin outdateOrActivate(isexpired)
    if editing
      case isexpired
        when true
          .btn-mark-outdated.btn.btn-success(data-dbtarget="listing_related.isexpired" data-dbvalue="false" ) Activate
        when false
          .btn-mark-outdated.btn.btn-danger(data-dbtarget="listing_related.isexpired" data-dbvalue="true") Deactivate
  meta#page_useful_info(name="page_useful_info" content=stringifyUsefulInfo())
  .container
    .row
      .col-lg-8
        .row: .col-lg-9.col-lg-offset-2: h3(data-dbtarget="listing_related.title" class="#{adaptiveEditable()}") #{result.listing_related.title}
        .row: .col-lg-9.col-lg-offset-2: div(data-dbtarget="unit_traits.addr" class="#{adaptiveEditable()}") #{result.unit_traits.addr}
        .row: .col-lg-9.col-lg-offset-2.text-center
          .row.margin-bottom-3x
            .col-sm-4
              i.fa.fa-bar-chart.fa-2x.block-it.margin-bottom-2x.margin-top-2x
              | bathsIcon
            .col-sm-4
              i.fa.fa-bar-chart.fa-2x.block-it.margin-bottom-2x.margin-top-2x
              | bedsIcon
            .col-sm-4
              i.fa.fa-bar-chart.fa-2x.block-it.margin-bottom-2x.margin-top-2x
              | propertyTypeIcon
      .col-lg-4.hidden-xs.hidden-sm.hidden-md
        form(id="book_it_form" method="post" )
          #pricing
            #price_amount(class="book-it-price-amount pull-left h3") $#{returnPrice()}
            i.fa.fa-bolt.fa-lg.pull-left.padding-left-right-1x#pricing-bolt
            #payment-period-container.pull-right
              #per_night.per-night
                | Per Month
              
              #per_month.per-month.hide
                | Per Month
                i#price-info-tooltip.icon.icon-question.hide(data-behavior='tooltip')   
          #book_it
            .panel
              .panel-body
                //- .form-fields
                //-   .row.row-condensed.row-space-3 test
                .book_it_status
                  #book_it_button_container.book-it-btn-container.margin-bottom-3x
                    button#book_it_button.btn.btn-primary.btn-large.btn-block(type='submit')
                      span.book-it.hide Request to Book
                      span.instant-book.hide
                        i.fa.fa-bolt.h4
                        | Instant Book
                      span.book-now Contact Listing Person
                .wishlist-wrapper
                  input(type="checkbox" class="hide" name="wishlist-button" id="wishlist-button")
                  label(for="wishlist-button" class="btn btn-default btn-block btn-large")  
                    i.fa.fa-heart-o.padding-left-right-1x
                    | Save to Wish List
                if (!editing)    
                  .edit-buttons-wrapper.margin-top-3x.margin-bottom-3x
                    a#edit-button.btn.btn-primary(href=current_page_url +'edit/' + result._id) Enter Edit Mode
                else    
                  .edit-buttons-wrapper.margin-top-3x.margin-bottom-3x
                    a#edit-button.btn.btn-primary(href=current_page_url +'listing/' + result._id) Enter Listing Mode
                    | &nbsp;&nbsp;
                    +outdateOrActivate(result.listing_related.isexpired)

                //- i.fa.fa-at.fa-lg.text-muted &nbsp;
                //- i.fa.fa-facebook.fa-lg.text-muted &nbsp; 
                //- i.fa.fa-twitter.fa-lg.text-muted  &nbsp;
                .row(class="other-actions margin-top-3x")
                  .col-md-12
                    .btn-group(role='group', aria-label='...')
                      a.btn.btn-default(href="#" onclick="alert(\"Not implemented yet\");")
                        i(class="fa fa-envelope-o fa-1")
                        | &nbsp;Mail
                      -var target_url = encodeURIComponent(current_page_url + 'listing/' + result._id);
                      a.btn.btn-default(href="https://www.facebook.com/sharer/sharer.php?u=#{target_url}" rel="nofollow" target="_blank")
                        i.fa.fa-facebook
                        | &nbsp;Facebook
                      a.btn.btn-default(href="#" onclick="alert(\"Not implemented yet\");") ... More
    .row.hidden-lg
      .col-sm-12
        form#book_it_form_responsive
          #pricing-responsive.margin-bottom-2x
            //- put date here
            .row.price-row-responsive
              .col-xs-2#price_amount_responsive
                | $#{returnPrice()}
              .col-xs-4
                | Per Month
          #book_it_responsive.margin-bottom-8x
            .row.hidden-xs.margin-bottom-2x
              .btn-group.btn-group-justified(role='group', aria-label='...')
                a.btn.btn-primary(href="#") Contact Listing Person
                a.btn.btn-default(href="#")
                  i.fa.fa-heart-o.padding-left-right-1x
                  | Save to Wish List
                +listingOrEditButton(editing)
                +outdateOrActivate(result.listing_related.isexpired)
            .row.visible-xs-block
              .col-xs-8.margin-bottom-2x.padding-left-right-0x
                a.btn.btn-primary(href="#") Contact Listing Person
              .col-xs-8.margin-bottom-2x.padding-left-right-0x
                a.btn.btn-default(href="#")
                  i.fa.fa-heart-o.padding-left-right-1x
                  | Save to Wish List
              //- .col-xs-8.margin-bottom-2x
              //-   +listingOrEditButton(editing)
              //- .col-xs-8.margin-bottom-2x
              //-   +outdateOrActivate(result.listing_related.isexpired)
            .row
              .col-xs-12.padding-left-right-0x
                .btn-group(role='group', aria-label='...')
                  a.btn.btn-default(href="#" onclick="alert(\"Not implemented yet\");")
                    i(class="fa fa-envelope-o fa-1")
                    | &nbsp;Mail
                  -var target_url = encodeURIComponent(current_page_url + 'listing/' + result._id);
                  a.btn.btn-default(href="https://www.facebook.com/sharer/sharer.php?u=#{target_url}" target="_blank")
                    i.fa.fa-facebook
                    | &nbsp;Facebook
                  a.btn.btn-default(href="#" onclick="alert(\"Not implemented yet\");") ... More


              //- .col-sm-3
              //-   .btn.btn-primary.margin-bottom-3x(type='button') Contact Listing Person
              //- .col-sm-3
              //-   .btn.btn-default.margin-bottom-3x(type='button')
              //-     i.fa.fa-heart-o.padding-left-right-1x
              //-     | Save to Wish List
              //-   //- .wishlist-wrapper.margin-bottom-3x
              //-   //-   input(type="checkbox" class="hide" name="wishlist-button" id="wishlist-button")
              //-   //-   label(for="wishlist-button" class="btn btn-default btn-block btn-large")  
              //-   //-     i.fa.fa-heart-o.padding-left-right-1x
              //-   //-     | Save to Wish List
              //- .col-sm-3
              //-   .edit-buttons-wrapper.margin-bottom-3x
              //-     if (editing)
              //-       a.btn.btn-primary(href=current_page_url +'listing/' + result._id) Enter Listing Mode
              //-     else
              //-       a.btn.btn-primary(href=current_page_url +'edit/' + result._id) Enter Edit Mode
              //- .col-sm-3
              //-   +outdateOrActivate(result.listing_related.isexpired)

              //- .col-sm-3.margin-bottom-3x
                .btn.btn-primary(type='button') Enter Edit Mode

            //- put three buttons here

block #details
  //-I need to process some raw database data here
  -var adaptive =function(text){
  -  return (editing)?(text):"";
  -}
  -var ppForHTMl = function(text) { return text.replace(/\r?\n/g, '\n<br>')};

  - var html_about_this_listing  = result.listing_related.about_this_listing.replace(/\r?\n/g, '\n<br>');
  

  mixin checkbox(bool, key)
    -var content = key.split("_").join(" ")
    .checkbox
      label
        if (bool)
          input(type='checkbox' name=key checked )
        else 
          input(type='checkbox' name=key )
        |  #{content}
  mixin checkbox_listingmode(val, key, isBold)
    - key = key.split("_").join(" ")
    if (val)
      .row-space-1
        if (isBold)
          i(class="fa fa-beer fa-lg padding-right-1x")
          span
            strong #{key}
        else 
          span #{key}
    else 
      .row-space-1
        del #{key} 
  mixin target_range(target_range)
     case target_range
      when 1
        | Entire unit
      when 2
        | Single room
      when 3
        | Shared place
      default
        | system error user_behavior.target_range   
  mixin listing_purpose(cat)
    case cat
      when 1
        | to lease
      when 2
        | to rent
      when 3
        | seek co-lessee
      default
        | system error user_behavior.cat
  mixin group_checkbox_listingmode(start, end, jsobject, isBold)
    - var n = 0
    each val, key in jsobject
      if ( n>= start && n < end)
        +checkbox_listingmode(val, key, isBold)
      - n ++
      if (n==end)
        - break;
  - function regroupFeatures ( jsobject ) {
  -   var tbr = {}
  -   Object.keys(jsobject).forEach(function (key, index ,arr) {
  -     if (jsobject[key]){ tbr[key] = true; }
  -   });
  -   Object.keys(jsobject).forEach(function (key, index ,arr) {
  -     if (!jsobject[key]){ tbr[key] = false; }
  -   });
  -   return tbr
  - }
  .container: .row: .col-lg-offset-1.col-lg-7#details-column.margin-top-4x.anchor-position-fix
            //- basically put all details in this div
            .margin-bottom-3x
              h3
                span#about_listing_locate About This Listing

              div.margin-bottom-2x.margin-top-2xr
                div(data-dbtarget="listing_related.about_this_listing" class="#{adaptive('editable')}") !{html_about_this_listing}
              p
                a.contact-host-link(href="#"): strong Contact Listing Person
              hr
              .row.space 
                .col-md-3
                  .text-muted
                    | The Space
                .col-md-9
                  .row
                    //- meta(name="the-space-metadata" content='{"beds_options":[1,2,3,4,5,6],"baths_options":[1,2,3,4,5,6],"apartment_type_options":["apartment","house","duplex"]}')
                    .col-md-6
                      div
                        | Bathrooms: 
                        strong(data-dbtarget="unit_traits.baths" class="#{adaptiveEditingClass('selectable')}") #{result.unit_traits.baths}
                      div
                        | Bedrooms: 
                        strong(data-dbtarget="unit_traits.beds" class="#{adaptiveEditingClass('selectable')}") #{result.unit_traits.beds}
                    .col-md-6
                      div
                        | Property type: 
                        strong(data-dbtarget="unit_traits.property_type" class="#{adaptiveEditingClass('selectable')}") #{result.unit_traits.property_type}

                      div
                        | Pet Friendly: 
                        strong(data-dbtarget="unit_traits.pet_friendly" class="#{adaptiveEditingClass('selectable')}") #{result.unit_traits.pet_friendly.toString()}
                  .row
                    .col-md-12
                      div
                        | Listing Purpose: 
                        strong(data-dbtarget="user_behavior.cat" class="#{adaptiveEditingClass('selectable')}")
                          +listing_purpose(result.user_behavior.cat)
                    .col-md-12
                      div
                        | Target Range:
                        strong(data-dbtarget="user_behavior.target_range" class="#{adaptiveEditingClass('selectable')}")
                          +target_range(result.user_behavior.target_range)

              hr
              .row.amenities

                .col-md-3.text-muted Amenities
                //- following .col-md-9 if having class .expanded, then only display .expandable-content-full
                .col-md-9.expandable.expandable-trigger-more
                  //- -var avail_amenities = {"Kitchen","Internet","Essentials","Shampoo","Heating", "Air Conditioning"}
                  if (!editing)
                    .expandable-content-summary
                      .row
                        - var summary_items = regroupFeatures( result.unit_traits.amenities_status); 
                        .col-sm-6
                          +group_checkbox_listingmode(0,3,summary_items,false)

                        .col-sm-6
                          +group_checkbox_listingmode(3,5,summary_items,false)
                          a.expandable-trigger-more
                            strong + More

                    //-end of .expandable-content-summary
                    .expandable-content-full(style='transition: none; -webkit-transition: none;')
                        .row
                          .col-sm-6
                            //- I have amenities_status
                            +group_checkbox_listingmode(0,15,result.unit_traits.amenities_status, true)      
                          .col-sm-6
                            +group_checkbox_listingmode(15,150,result.unit_traits.amenities_status, true)      
                  if (editing)
                    .selectable-group(data-dbtarget="unit_traits.amenities_status")
                      form.selectable-group-form(data-dbtarget="unit_traits.amenities_status")
                        .row
                          .col-sm-6
                            -var n = 0;
                            each val, key in result.unit_traits.amenities_status
                              +checkbox(val, key)
                              - n ++
                                if ( n == 15)
                                  - break;
                          .col-sm-6
                            -var n=0;
                            each val, key in result.unit_traits.amenities_status
                              if (n > 14)
                                +checkbox(val, key)
                              - n ++
                        .row
                          .col-sm-12
                            input.btn.btn-primary.marigin-right-1x.selectable-group-submit(type="submit" value="Submit")
                            button.btn.btn-default.marigin-right-1x Cancel
                            //- put button save and cancel here
              hr
              .row.prices
                -function returnPrice(){return (result.unit_traits.price)?result.unit_traits.price:100 };
                .col-md-3
                    .text-muted Prices
                  .col-md-9
                    .row
                      .col-md-6
                        div
                          | Monthly Price: 
                          strong
                            | $ 
                            span#Monthly_price_string #{returnPrice()}
                          |  /month
                      .col-md-6
                    if (editing)
                      .row
                        .col-md6.margin-top-2x.margin-left-right-2x
                          #price-slider(data-dbtarget="unit_traits.price")
              hr
              .row.availability
                .col-md-3
                  .text-muted
                    | Availability
                .col-md-9
                  -function formatDate(date){
                  -  return (date.getMonth()+1).toString() + "/" +date.getDate().toString() +"/"+date.getFullYear()
                  -}
                  -var begin_date = new Date(result.listing_related.availability.begin);
                  -var end_date = new Date(result.listing_related.availability.end);
                  .row
                    .col-md-2.text-muted
                      | From:
                    .col-md-4
                      div(class="#{adaptiveEditingClass('editable-date')}", data-dbtarget="listing_related.availability.begin")=formatDate(begin_date)
                    .col-md-2.text-muted
                      | To:
                    .col-md-4
                      div(class="#{adaptiveEditingClass('editable-date')}", data-dbtarget="listing_related.availability.end")=formatDate(end_date)
                      
                  //- if (editing)
                  //-   .row
                  //-     .col-md-6 editing begin date
                  //-     .col-md-6 editing end date
              hr
              .row.description
                .col-md-3.text-muted
                  | Description
                .col-md-9.expandable.expandable-trigger-more
                  .expandable-content.expandable-content-long
                    each para_listformat in result.unit_traits.description
                      case para_listformat[1]
                        when "strong"
                          p: strong #{para_listformat[0]}
                        when "h4"
                          h4 #{para_listformat[0]}
                        when "h3"
                          h3 #{para_listformat[0]}
                        when "h2"
                          h2 #{para_listformat[0]}
                        when "h1"
                          h1 #{para_listformat[0]}
                        default
                          p #{para_listformat[0]}

                  //-   .expandable-indicator
                  //- a.expandable-trigger-more(href='#')
                  //-   strong + More
              hr
              .row.house-rules
                .col-md-3
                  .text-muted
                    | House Rules
                //- .col-md-9.expandable.expandable-trigger-more.expanded
                  .expandable-content
                    p Please be kind, clean, respectful, peaceful. 
                    p Please take off your shoes!
                    p
                      | Smoking is okay outside. We recycle. We compost. Keep the kitchen clean, always. Enjoy life.
                    .expandable-indicator
                  a.expandable-trigger-more(href='#')
                    strong + More
                .col-md-9
                  div(data-dbtarget="unit_traits.house_rules" class="#{adaptiveEditable()}") !{ppForHTMl(result.unit_traits.house_rules)}

              hr
              .row.safety-features
                .col-md-3
                  .text-muted
                    | Safety Features
                .col-md-9
                  if (!editing)
                    .row
                      .col-sm-6

                        //- each val, key in result.unit_traits.safety_features
                        +group_checkbox_listingmode(0,3,result.unit_traits.safety_features, false)
                        //- .space-1
                        //-   span.js-present-safety-feature Smoke Detector
                        //- .space-1
                        //-   span.js-present-safety-feature Carbon Monoxide Detector
                        //- .space-1
                        //-   span.js-present-safety-feature First Aid Kit
                      .col-sm-6
                        +group_checkbox_listingmode(3,30,result.unit_traits.safety_features, false)
                        //- .space-1
                        //-   span.js-present-safety-feature Safety Card
                        //- .space-1
                        //-   span.js-present-safety-feature Fire Extinguisher
                  
                  if (editing)
                    .selectable-group(data-dbtarget="unit_traits.safety_features")
                      form.selectable-group-form(data-dbtarget="unit_traits.safety_features")
                        .row
                          .col-sm-6
                            -var n = 0;
                            each val, key in result.unit_traits.safety_features
                              +checkbox(val, key)
                              - n ++
                                if ( n == 3)
                                  - break;
                          .col-sm-6
                            -var n=0;
                            each val, key in result.unit_traits.safety_features
                              if (n > 2)
                                +checkbox(val, key)
                              - n ++
                        .row
                          .col-sm-12
                            input.btn.btn-primary.marigin-right-1x.selectable-group-submit(type="submit" value="Submit")
                            button.btn.btn-default.marigin-right-1x Cancel
                


//- This block neighborhood-meta will accept neighborhood_data from server
block neighborhood-meta
  -var processNeighborhoodData = function(){
  - var tbr = {}
  - tbr.lat = result.unit_traits.lat;
  - tbr.lng = result.unit_traits.lng;
  - return JSON.stringify(tbr)
  -}
  meta#neighborhood-data( name="neighborhood-data" content="#{processNeighborhoodData()}")
